.escribir {
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
  font-family: monospace;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}





